.header-left,
.header-right,
.link {
    display: flex;
    height: auto;
    width: auto;
    color: white;
    font-size: 23px;
}

.link {
    margin: 30px;
}

.header-left {
   -ms-flex-align: start;
}

.header-right {
    margin-left: auto;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100;
    padding-bottom: 50;
  
}
.subheader {
    display: flex;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    color: white;

}
.subhead-left {
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    -ms-flex-align: start;
  
}
.subhead-right {
    display: flex;
    height: 400px;
    width: auto;
    margin-left: auto;
  
}
.textbig {
    font-size: 48px;
    font-weight: bold;

}
.textsmall {
    font-size: 24px;
}

.signin {
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    width:  150px;
    font-size: 20px;
    background-color: lightblue;
}

.main {
    display: flex;
   justify-content: center;
}

.pic {
    height: 150px;
    width: auto;
    margin: 50px;
    border: solid violet;
}

.image {
    max-height: 150px;
    width: auto;
}

.maintext {
    display: flex;
    justify-content: center;
}

.textfield {
    height: 150px;
    width: auto;
    margin: 50px;
}

.linkpage {
    flex: 1;
    -ms-flex-item-align: center;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: grey;
}