* {
    font-family: Arial, Helvetica, sans-serif;
}

.header-left,
.header-right,
.link {
    display: flex;
    height: auto;
    width: auto;
    color: white;
    font-size: 23px;
}

.link {
    margin: 30px;
}

.header-left {
   -ms-flex-align: start;
}

.header-right {
    margin-left: auto;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100;
    padding-bottom: 50;
  
}
.subheader {
    display: flex;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    color: white;

}
.subhead-left {
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    -ms-flex-align: start;
  
}
.subhead-right {
    display: flex;
    height: 400px;
    width: auto;
    margin-left: auto;
  
}
.textbig {
    font-size: 48px;
    font-weight: bold;

}
.textsmall {
    font-size: 24px;
}

.signin {
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    width:  150px;
    font-size: 20px;
    background-color: lightblue;
}

.main {
    display: flex;
   justify-content: center;
}

.pic {
    height: auto;
    width: 150px;
    margin: 0px 50px;
}

.image {
    height: auto;
    width: 150px;
}

.maintext {
    display: flex;
    justify-content: center;
}

.textfield {
    height: auto;
    width: 150px;
    margin: 10px 50px;
}


.outerquote {
    text-align: center;
    width:auto;
    background-color: bisque;
    color: black;
    font-size: 30px;
    padding: 100px;
}

.quote {
    display: inline-block;
    text-align: left;
}

.outerfoot {
    background-color: white;
    padding: 100px;
}

.innerfoot {
    background-color: blueviolet;
    border-radius: 20px;
    height: auto;
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
}

.lefttext {
    padding: 30px;
}

.rightbutton {
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    border: 2px solid white;
    border-radius: 20px;
    height: 35px;
    width: auto;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}
.linkpage {
    flex: 1;
    -ms-flex-item-align: center;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: grey;
}